.game{
    text-decoration-line: none;
    color: #ff0000;
    position: absolute;
    margin-top: 35%;
    font-size: 32px;
}
.p{
    text-decoration: none;
    position: absolute;
    color: #000000;
    left: 0;
    bottom: 0;
}
